*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 55vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white
}
.right-login{
    width: 45vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.background{
    width: 100%;
    height: 100%;
}
.card-login{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #F7F7F7;
    border: 2px solid #999;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
h3{
    color: #FF914D;
    margin: 30px;
}
label{
    margin: 20px;
    color: #FF914D;;
}
.label{
    margin:10px;
    justify-content: start;
    width: 90%;
}
.form{
    width: 80%;
    padding: 20px;
    border: solid 3px #FF914D;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 10px 40px #00000056;

}
#login-button{
    padding: 12px;
    width: 180px;
    margin: 25px;
    background-color: #FF914D;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    transition: all .3s ease-out;
}
#login-button:hover{
    background-color: #009A50;
    font-size: 15px;
    color: azure;
    font-weight: bolder;
}
#login-button2{
    padding: 12px;
    width: 350px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px #00b35c;
    font-weight: bolder;
    color: #FF914D;
    cursor: pointer;
    transition: all .3s ease-out;
}
#login-button2:hover{
    font-size: 15px;
    background-color:#00b35c;
    color: azure;
}
p{
    margin: 10px;
    color: #FF914D;
}
#cadastro{
    text-decoration: none;
    color: #009A50;
    padding: 5px;
    margin-left: 5px;
    border: solid 2px #009A50;
    border-radius: 15px;
    transition: all .3s ease-out;
}
#cadastro:hover{
    font-weight: bolder;
    background-color: #009A50;
    color: whitesmoke;
}
@media screen and (max-width: 1322px) {  
    *{
        font-size: small;
    }
    .left-login{
        width: 100vw;
    }
    .right-login{
        width: 0vw;
    }
    .background{
        width: 0%;
        height: 0%;
    }
    #logo{
        width: 70vw;
    }
    .card-login{
        width: 70%;
        box-shadow: none;
        border: 2px;
    }
    #login-button{
        width: 65%;
    }
    #login-button:hover{
        font-size: 12px;
    }
    #login-button2{
        width: 75%;
    }
    #login-button2:hover{
        font-size: 12px;
    }

}
